@import "./icon.styl"

body, html
	background-color: #eee
	font-family: "Source Sans Pro", Arial, sans-serif
	user-select: none
	-webkit-tap-highlight-color: transparent
	
body
	margin: 0
	padding: 0
  
body *
	margin: 0
	padding: 0
  
a, a:hover, a:focus, a:visited
	text-decoration: none
	color: #41B883
